<form class="newContact" action="/contacts/new/{{contactId}}" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="number" name="phoneNumber" placeholder="Number">
  <button type="submit" name="saveContact">Save Contact</button>
</form>
