<form class="newMessage" action="/messages/send/{{contactId}}" method="post">
  <textarea name="message" rows="8" cols="80"></textarea>
  <button type="submit" name="button">Send Message</button>
</form>
